.DS_Store
TOCR-mobileUI/*.iml
TOCR-mobileUI/.gradle
TOCR-mobileUI/local.properties
TOCR-mobileUI/.idea/workspace.xml
TOCR-mobileUI/.idea/libraries
TOCR-mobileUI/.idea/
TOCR-mobileUI/build
TOCR-mobileUI/captures
TOCR-mobileUI/.externalNativeBuild
.idea/
server/main.pyc
server/venv/
server/.idea/
server/__pycache__/
*.iml
